@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'main-font';
  font-style: normal;
  src: url(./assets/font/Nunito-VariableFont_wght.ttf);
}

*{
  font-family: 'main-font' !important;
  font-weight: 600;
}

body {
  margin: 0;
}


